*{
    margin: 0;
    padding: 0;
}

/* .navbars{
    display: flex;
} */

.right-navbar{
    width:100%;
    background-color: rgba(32, 32, 26, 0.7);
    position: fixed;
    top: 0;
    right: 0;  
}
.nav-list{
    
    list-style-type: none;
    display: flex;
    margin-top:10px;
    float: right;
    margin-right: 50px;
    ;

}

.nav-list li a{
    display: inline-block;
    transition: all .5s ease;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 7px 20px 12px 20px;
    margin-right: 0px;
    opacity: 1;
    
    
}
.nav-list li a:hover{
   
    color:rgb(144, 139, 139);
}

.background{
    background: rgba(0, 0, 0, 0.7)url(../images/pexels-pixabay-78791crop2.jpg);
    background-size: cover;
    background-blend-mode: darken;
    height: 900px;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.text-big{
    font-family: cursive;
    text-align: center;
    font-size: 400%;
    margin-top: 300px;
}
.text-small{
    text-align: center;
}
.typing {
    text-align: center;
    font-size: 32px;
}

.places{
    text-align: center;
    font-size: 350%;
}
.buttons{
    text-align: center;
} 
.btn-book{
    transition: all .5s ease;
      border: 3px solid white;
      color: white;
      cursor: pointer;
      background-color: transparent;
      padding: 10px 20px;
      outline: none;
      border-radius: 4px;
      margin-top: 15px;
      }
      

.btn-book:hover {
     color: #001F3F;
     background-color: #fff;
}
.main-footer {
    background-color: rgb(128, 46, 204);
    /* background-size: 500px; */
    font-size: 10px;
    text-align: center;
}
/* typing text */
/* .typing {
    display: block;
    color: #fff;
}

.typing::after {
    content: '';
    height: 100%;
    padding: 2px;
    margin-left: 10px;
    background-color: #ffffff;
    animation: typing 1.2s ease infinite;
}

@keyframes typing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */



