@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?275e66005ff9f61e2ec90b6c262ddd3d") format("truetype"),
url("./flaticon.woff?275e66005ff9f61e2ec90b6c262ddd3d") format("woff"),
url("./flaticon.woff2?275e66005ff9f61e2ec90b6c262ddd3d") format("woff2"),
url("./flaticon.eot?275e66005ff9f61e2ec90b6c262ddd3d#iefix") format("embedded-opentype"),
url("./flaticon.svg?275e66005ff9f61e2ec90b6c262ddd3d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-documents:before {
    content: "\f101";
}
.flaticon-flash:before {
    content: "\f102";
}
.flaticon-globe:before {
    content: "\f103";
}
.flaticon-online:before {
    content: "\f104";
}
.flaticon-train-3:before {
    content: "\f105";
}
.flaticon-train:before {
    content: "\f106";
}
.flaticon-underground-1:before {
    content: "\f107";
}
.flaticon-underground:before {
    content: "\f108";
}
